<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymelead.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Usuário </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css}" />
    <link type="text/css" rel="stylesheet"
          th:href="@{https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css}" />
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <link href="/css/style.css" rel="stylesheet"/>

</head>
<body>
<div layout:fragment="content">
    <div class="page-header text-center">
        <h1>Cadastro Usuário</h1>
    </div>
    <br>
    <div th:if="${mensagem != null}">
        <div class="alert alert-info" role="alert">
            <span th:text="${mensagem}">mensagem</span>
        </div>
    </div>

    <form  th:action="@{/usuario/salvar-usuario}" th:object="${usuario}"  method="post" >
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label >Login:</label>
                <input type="text" class="form-control"  placeholder="Login" th:field="*{login}" >
                <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
            </div>
            <div class="col-md-3 mb-3">
                <label >Nome Completo:</label>
                <input type="text" class="form-control"  placeholder="Nome Completo" th:field="*{nomeCompleto}">
                <div th:if="${#fields.hasErrors('nomeCompleto')}" th:errors="*{nomeCompleto}"></div>
            </div>
            <div class="col-md-3 mb-3">
                <label >Senha:</label>
                <input type="text" class="form-control"  placeholder="Senha" th:field="*{senha}">
                <div th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></div>
            </div>
            <div class="col-md-3 mb-3">
                <label >Acesso:</label>
                <select  class=" form-control js-example-basic-single" th:field="*{nivelAcessos}" >
                    <option th:each="nivelacesso : ${nivelacesso}"   th:value="${nivelacesso.nomeAcesso}" th:text="${nivelacesso.nomeAcesso}" ></option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </form>
</div>
</body>
</html>